<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
            <span class="h5">Roles</span>
            <!-- / USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('root')"
                       [ngClass]="{'active accent':filterBy ==='root'}">
                        <span class="title">Root</span>
                    </a>
                </div>

                <div class="nav-item" aria-label="admin" (click)="changeFilter('admin')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='admin'}">
                        <div class="title">Admin</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="owner" (click)="changeFilter('owner')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='owner'}">
                        <div class="title">Owner</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="driver" (click)="changeFilter('driver')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='driver'}">
                        <div class="title">Driver</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="unassigned" (click)="changeFilter('unassigned')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='unassigned'}">
                        <div class="title">Unassigned</div>
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
